@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Fugaz One', sans-serif ;
    box-sizing: border-box;
    text-align: center;
}

body{
    background: url(/public/Assets/Asset\ 1-100.jpg);
    background-size: cover;
    min-height: 100vh;
}

.apps{
    background: #FBB03B;
    width: 80%;
    max-width: 500px;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 20px;
}

.apps h1{
    color: #222A36;
    border-bottom: 1px ;
    font-weight: 600;
    border-bottom: 3px solid #333;
    padding-bottom: 35px;
    font-size: 40px;
}

.quiz{
    padding: 25px 0;
}

.quiz h2{
    font-size: 20px;
    color: #222A36;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

.btn{
    background: #fff;
    color: #222A36;
    font-weight: 400;
    width: 80%;
    border: 2px solid #333;
    padding: 10px;
    margin: 10px 0;
    text-align: start;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    font-family: "Poppins", sans-serif;
}

.btn:hover:not([disabled]){
    background: #222A36;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}

#next-btn{
    background: #fff;
    color: #222A36;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    border: 2px solid #333;
    margin: 20px auto 0;
    cursor: pointer;
    display: none;
}

.correct{
    background: #9aeabc;
}

.incorrect{
    background: #ff9393;
}